.spectrum-Textfield--custom {
  width: auto;

  .spectrum-Textfield-input {
    border-color: transparent;
    font-weight: var(--spectrum-heading-m-text-font-weight, var(--spectrum-alias-heading-text-font-weight-regular));
  }
}
