/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import 'node_modules/@spectrum-css/vars/dist/spectrum-global';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-medium';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-light';

@import 'node_modules/@spectrum-css/page/dist/index-vars';
@import 'node_modules/@spectrum-css/typography/dist/index-vars';
@import 'node_modules/@spectrum-css/icon/dist/index-vars';
@import 'node_modules/@spectrum-css/radio/dist/index-vars';
@import 'node_modules/@spectrum-css/button/dist/index-vars';
@import 'node_modules/@spectrum-css/fieldgroup/dist/index-vars';
@import 'node_modules/@spectrum-css/textfield/dist/index-vars';
@import 'node_modules/@spectrum-css/dropdown/dist/index-vars';
@import 'node_modules/@spectrum-css/fieldlabel/dist/index-vars';
@import 'node_modules/@spectrum-css/checkbox/dist/index-vars';
@import 'node_modules/@spectrum-css/tooltip/dist/index-vars';
@import 'node_modules/@spectrum-css/slider/dist/index-vars';
@import 'node_modules/@spectrum-css/tabs/dist/vars';
@import 'node_modules/@spectrum-css/tabs/dist/index';

:root {
  --gradient-height-offset: 284px;
  --gradient-height: calc(100vh - var(--gradient-height-offset));
  // --gradient-height: 100%;
  --colors-height: var(--gradient-height);
  --color-size: 32px;
  --colors-wrapper-height: calc(100vh - var(--gradient-height-offset) - var(--color-size));
  --gradient-slider-height: var(--gradient-height);
  --slider-thumb-size: 8px; // 24px
  --header-height: 58px;
  --spectrum-panel-border-color: var(--spectrum-global-color-gray-300, #e1e1e1);
  --spectrum-panel-background-color: var(--spectrum-global-color-gray-100, #f5f5f5);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Adobe Clean'; // local update since no typekit support currently.
  display: grid;
  grid-template-columns: 304px auto 240px;
  grid-template-rows: var(--header-height) auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "header header header"
    "leftPanel . rightPanel";
}
.spectrum-AppHeader {
  grid-area: header;
  display: flex;
  flex-direction: row;
  max-height: var(--spectrum-global-dimension-size-400); // 32px
  border-bottom: 2px solid var(--spectrum-panel-border-color);
  background-color: var(--spectrum-panel-background-color);
  margin: 0;
  padding: var(--spectrum-global-dimension-size-150) var(--spectrum-global-dimension-size-200);
  align-items: center;
  justify-content: space-between;
}
.spectrum-AppHeader--right {
  display: flex;
  flex-direction: row;
}
.spectrum-AppHeader-Title {
  margin: 0;
  // font-size: var(--spectrum-global-dimension-font-size-200);
}
#headerLogo {
  height: 24px;
  width: 24px;
}
#logoTitle {
  display: inline-flex;
}
#headerLogo ~ .spectrum-AppHeader-Title {
    margin-left: 8px;
}
#octo-link {
  margin-left: 16px;
  padding: 4px;
}
/* Tabs aren't inheriting all styles properly. Remapping here */
.spectrum-Tabs {
  border-color: transparent;
  padding: 0;
}
.spectrum-Tabs-item {
  color: var(--spectrum-tabs-text-color, var(--spectrum-alias-label-text-color));
}
.spectrum-Tabs-item.is-selected {
  color: var(--spectrum-tabs-text-color-selected, var(--spectrum-alias-heading-text-color));
  border-bottom: 2px solid var(--spectrum-tabs-selection-indicator-color);
}
.spectrum-Tabs-selectionIndicator {
  display: none; /* simplifying design to speed up development */
  // background-color: var(--spectrum-tabs-selection-indicator-color);
}
.spectrum-Tabs--compact .spectrum-Tabs-item {
  height: 32px;
}

.spectrum-Panel {
  display: flex;
  flex-direction: column;

  background-color: var(--spectrum-panel-background-color);
  min-width: calc(var(--spectrum-global-dimension-size-3000) + 32px);
  border-right: 2px solid var(--spectrum-panel-border-color);
  padding: 0;
  overflow: scroll;
}
.spectrum-Panel--small {
  width: var(--spectrum-global-dimension-size-3000);
  min-width: var(--spectrum-global-dimension-size-3000);
}
.spectrum-Panel--right {
  max-height: calc(100vh - 56px);
  grid-area: rightPanel;
  border-right: 0;
  border-left: 2px solid var(--spectrum-panel-border-color);
  justify-content: space-between;
}
.spectrum-Panel--custom {
  flex-direction: row;
  min-width: 160px;
  /* min-width: var(--spectrum-global-dimension-size-2000); */
}
.spectrum-Panel-Item {
  padding: 8px 16px 16px;
}
.spectrum-Panel-Title {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 4px;

  .spectrum-ActionButton {
    margin-top: -7px;
    margin-bottom: 4px;
  }
}
.spectrum-Panel-Title + .spectrum-Panel-Item {
  padding-top: 0px;
}
.spectrum-Panel-Item ~ .spectrum-Panel-Item {
  border-top: 2px solid var(--spectrum-panel-border-color);
}
.spectrum-Panel-Item--row {
  display: flex;
  flex-direction: row;
}
.spectrum-Panel-Item--custom {
  border: 0;
  display: flex;
  flex-direction: row;
  min-width: 140px;
}
.spectrum-Panel-Title ~ #colorOutputs {
  margin-top: 8px;
}

#inputs {
  margin-bottom: 1em;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--spectrum-global-dimension-size-400));
  overflow: hidden;
}
#gradientWrapper {
  margin-top: 8px;
  margin-right: 18px;
  height: var(--gradient-height);
  width: 56px;
  display: block;
  position: relative;
}
#colors {
  display: flex;
  flex-direction: column;
  height: var(--colors-height);
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, black, white);
  background-repeat: no-repeat;
}
.block {
  height: 100%;
  width: 100%;
  align-self: stretch;
}
#colorWrapper {
  display: none;
  height: var(--colors-wrapper-height);
  width: 48px;
  margin-left: 8px;
  // display: flex;
  align-self: flex-end;
  position: relative;
  // margin-bottom: 14px;
}
#color {
  // height: 60px;
  // width: 60px;
  height: var(--color-size);
  width: var(--color-size);
  font-size: var(--spectrum-global-dimension-font-size-50);
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}


// #colorField1 {
//   border: none;
//   border-radius: 5px 0px 0px 5px;
// }
// #userColors {
//   grid-area: leftPanel;
// }
// #userColor, #userBg {
//   height: 56px;
//   width: 100%;
//   border-radius: 4px;
//   border: 0;
//   display: flex;
//   flex-direction: row;
// }
// #userColor ~ #userBg {
//   margin-top: 8px;
// }
#sliderWrapper {
  position: relative;
  display: flex;
  // padding: 0px 21px;
  padding: 0px 0px;
  margin-top: -1px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  width: 40px;
  height: var(--gradient-slider-height);
  left: 0;
  bottom: var(--gradient-slider-height);
}
.slider {
  -webkit-appearance: none;
  width: var(--gradient-slider-height);
  height: 55px;
  transform: rotate(-90deg);
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: absolute;
  /* display: block; */
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  background: #ffffff;
  // background: transparent;
  // border: 2px solid #fff;
  border-radius: 32px;
  // box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  // cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider::-moz-range-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  background: #ffffff;
  // background: transparent;
  // border: 2px solid #fff;
  border-radius: 32px;
  // box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  // cursor: pointer;
}


input[type="color"] {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
  outline: none;
  border-radius: 4px;

  &.spectrum-Textfield-swatch {
    margin-top: var(--spectrum-global-dimension-size-100);
    margin-left: var(--spectrum-global-dimension-size-100);
  }
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
input[type="color"]:disabled {
  // opacity: 0.4;
  border-color: var(--spectrum-global-color-gray-200);
}

input[type="color"].colorInput  {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="color"].colorInput::-webkit-color-swatch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="color"].colorInput + .spectrum-ActionButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider:focus,
input[type=color]:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
}

.spectrum-Slider {
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* THUMB */
  @mixin thumb {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: var(--spectrum-global-color-gray-100);
    margin: calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / -2) 0 0 calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / -2);
    border-width: var(--spectrum-slider-handle-border-size, var(--spectrum-alias-border-size-thick));
    border-style: solid;
    border-radius: var(--spectrum-slider-handle-border-radius, var(--spectrum-alias-border-radius-medium));
    transition: border-width var(--spectrum-slider-animation-duration, var(--spectrum-global-animation-duration-100)) ease-in-out;
    outline: none;
    cursor: grab;
  }

  @mixin thumbFocus {
    background-color: var(--spectrum-alias-border-color-focus);
    border-color: var(--spectrum-alias-border-color-focus);
    transition: background-color var(--spectrum-slider-animation-duration, var(--spectrum-global-animation-duration-100)) ease-in-out;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  input[type=range]:focus::-webkit-slider-thumb {
    @include thumbFocus;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    @include thumb;
  }

  input[type=range]:focus::-moz-range-thumb {
    @include thumbFocus;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    @include thumb;
  }

  input[type=range]:focus::-ms-thumb {
    @include thumbFocus;
  }

  /* TRACK */
  @mixin track {
    width: 100%;
    height: var(--spectrum-slider-track-height, var(--spectrum-alias-border-size-thick));
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--spectrum-global-color-gray-300);
    top: calc(var(--spectrum-slider-height, var(--spectrum-alias-single-line-height)) / 2);
    margin-top: calc(var(--spectrum-slider-fill-track-height, var(--spectrum-alias-border-size-thick)) / -2);
    pointer-events: none;
    padding: 0 var(--spectrum-slider-handle-gap, var(--spectrum-alias-border-size-thicker)) 0 0;
    margin-left: calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / 2 * -1);
  }

  input[type=range]::-webkit-slider-runnable-track {
    @include track;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--spectrum-alias-border-color-focus);
  }

  input[type=range]::-moz-range-track {
    @include track;
  }

  input[type=range]::-ms-track {
    @include track;

    background: transparent;
    border-color: transparent;
    border-width: 2px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background-color: var(--spectrum-global-color-gray-300);
  }
  input[type=range]:focus::-ms-fill-lower {
    background-color: var(--spectrum-global-color-blue-400);
  }
  input[type=range]::-ms-fill-upper {
    background-color: var(--spectrum-global-color-gray-300);
  }
  input[type=range]:focus::-ms-fill-upper {
    background-color: var(--spectrum-global-color-blue-400);
  }
}

.spectrum-Form,
.spectrum-Form-item {
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
#contentTabWrapper {
  display: flex;
  height: 47px;
  padding: 0 16px;
  box-shadow: 0 -2px inset var(--spectrum-panel-border-color);

  .spectrum-Tabs {
    margin-bottom: -1px;
  }
}
#demoWrapper {
  padding: 0 0 56px 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 56px);
  overflow: scroll;
}

#metricsWrapper {
  background-color: var(--spectrum-global-color-gray-100, #f5f5f5);
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  padding: 32px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: fit-content;
  margin-bottom: 24px;
}
#chart1,
#chart2,
#chart3,
#chart4,
#contrastChart {
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

#chart2 {
  margin-left: 24px;
}

.chartGroup {
  .spectrum-Heading6 {
    margin-bottom: 8px;
  }
}

h1 {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}
.demo,
.demoInverted {
  // max-width: 80ch;
  width: 100%;
  padding: 8px 40px 32px;
  align-self: center;
}
.spectrum-Heading1 {
  color: inherit;
}

.spectrum-Textfield--readonly {
  padding-left: var(--spectrum-global-dimension-size-400);
  background-color: var(--spectrum-alias-background-color-default);
}

colorOutput-field {
  position: relative;
  margin-bottom: 16px;
}

#colorOutput {
  height: 74px;
  width: 100%;
  resize: none;
}

#colorOutputs {
  max-height: calc(100vh - var(--header-height) - 250px);
  overflow: scroll;
}

.spectrum-Textfield-swatch {
  position: absolute;
  margin-top: var(--spectrum-global-dimension-size-100);
  margin-left: var(--spectrum-global-dimension-size-100);
  border-radius: 2px;
  height: var(--spectrum-global-dimension-size-200);
  width: var(--spectrum-global-dimension-size-200);
}

.colorField {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 40px;
  margin-bottom: 8px;

  input[type='color']{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 8px;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 4px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  textarea {
    height: 64px;
  }
}
.colorField ~ .colorField {
    margin-left: 16px;
}
input[type="color"] {
  border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
  }

.colorField--horizontal {
  flex-direction: row;

  .spectrum-FieldLabel {
    margin-top: 4px;
    margin-left: 8px;
  }
}

#variableColorField {
  margin-left: 24px;
}

.variableColor-wrapper {
    display: flex;
    flex-direction: row;
}

#colorInputWrapper {
  display: flex;
  flex-direction: row;
  padding: 2px; /* To ensure focus rings are visible */
  margin: -2px;
  flex-wrap: wrap;
  min-height: 80px;
  max-height: 88px;
  overflow: scroll;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
  border-radius: 4px;
}

#octocat {
  height: 24px;
  width: 24px;
}
.spectrum-Button.demoButton,
.spectrum-Button.demoButtonInverted {
  background-color: transparent;
}

.spacing-100 {
  margin-top: 8px;
}

.color-Item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spectrum-global-dimension-size-100);
  margin-right: var(--spectrum-global-dimension-size-100);
}

.ratioField {
  padding-left: var(--spectrum-global-dimension-size-400);
  // width: calc(10ch + var(--spectrum-global-dimension-size-200)); if adding name field, use this
  width: 70%;
  margin-right: 8px;
}
#toggleMetrics {
  margin-top: -8px;
  margin-right: -8px;
}

.colorOutputBlock {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 2px;
  // width: 100%;
  min-height: var(--spectrum-global-dimension-size-400);
  border-radius: 0px;

  &:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.w3c-guideline {
  margin-top: 8px;

  & + .w3c-guideline {
    margin-top: 12px;
    margin-bottom: 4px;
  }
}
.spectrum-Subheading {
  color: var(--spectrum-global-color-gray-700);
}

#functionParams {
  background-color: var(--spectrum-global-color-gray-50);
  border: 1px solid var(--spectrum-global-color-gray-200);
  border-radius: 4px;
  padding: 8px;
  margin: 0 -8px;
  width: 100%;
  overflow: scroll;
}


#scaleWrapper, #ratiosWrapper, #ratios {
  flex-direction: column;
  width: 100%;
}

#ratiosWrapper {
  max-height: 100%;
  margin-top: 6px;
  padding: 2px; /* This ensures focus rings are visible */
  overflow: scroll;
}

#ratios {
  max-height: calc(var(--gradient-height) - 110px);
  overflow: scroll;
  display: flex;
}

.demoItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &:first-of-type {
    margin-top: auto;
  }
  &:last-of-type {
    margin-bottom: auto;
  }
}

#libraryDropdown {
  width: 116px;
}

#modeDropdown {
  width: 120px;

  ~ .spectrum-ActionButton {
    margin-left: 8px;
  }
}

#contrastConfigs {
  display: flex;
  flex-direction: row;
}

#addRatio,
#addColor {
  justify-content: center;

  > .spectrum-ActionButton-label {
    width: auto;
  }
}
#addRatio {
  margin-top: 8px;
  width: 100%;
}

/* charts */
.charts > svg {
  color: var(--spectrum-global-color-gray-600);
}
.charts .spectrum-Subheading {
  margin-top: 4px;
}
.axis path,
.axis line {
  fill: none;
  stroke: var(--spectrum-global-color-gray-600);
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: var(--spectrum-global-color-gray-50);
  stroke: var(--spectrum-global-color-gray-300);
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.tick > text {
  display: none;
}

#colorMetrics {
  display: none; // hidden by default
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));

  &.visible {
    display: flex;
  }
}
// Hack overrides for d3 category10 colors
g.d3_xy_chart_line ~ g.d3_xy_chart_line ~ g.d3_xy_chart_line path.line {
  stroke: #0F4F87;
}
g.d3_xy_chart_line ~ g.d3_xy_chart_line path.line {
  stroke: #449CAD;
}
g.d3_xy_chart_line path.line {
  stroke: #76D0C5;
}

#scaleConfigs {
  display: flex;
  flex-direction: column;
}

.tabcontent {
  display: none;
}


.spectrum-Tooltip-Target:hover:after {
  @extend .spectrum-Tooltip;
  @extend .spectrum-Tooltip--top;
  @extend .is-open;
	content: attr(data-title);
	position: absolute;
	top: 0px;
}
