/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import 'node_modules/@spectrum-css/vars/dist/spectrum-global';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-medium-unique';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-light';

@import 'node_modules/@spectrum-css/page/dist/index-vars';
@import 'node_modules/@spectrum-css/typography/dist/index-vars';
@import 'node_modules/@spectrum-css/icon/dist/index-vars';
@import 'node_modules/@spectrum-css/radio/dist/index-vars';
@import 'node_modules/@spectrum-css/button/dist/index-vars';
@import 'node_modules/@spectrum-css/fieldgroup/dist/index-vars';
@import 'node_modules/@spectrum-css/textfield/dist/index-vars';
@import 'node_modules/@spectrum-css/fieldlabel/dist/index-vars';
@import 'node_modules/@spectrum-css/checkbox/dist/index-vars';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.spectrum-AppHeader {
  display: flex;
  flex-direction: row;
  max-height: var(--spectrum-global-dimension-size-400);
  border-bottom: 2px solid var(--spectrum-panel-border-color);
  background-color: var(--spectrum-panel-background-color);
  margin: 0;
  padding: var(--spectrum-global-dimension-size-150) var(--spectrum-global-dimension-size-200);
  align-items: baseline;
  justify-content: space-between;
}
.spectrum-AppHeader-Title {
  margin: 0;
  font-size: var(--spectrum-global-dimension-font-size-200);
}
.spectrum-Panel {
  display: flex;
  flex-direction: column;
  background-color: var(--spectrum-panel-background-color);
  min-width: var(--spectrum-global-dimension-size-3000);
  border-right: 2px solid var(--spectrum-panel-border-color);
  padding: 0;
  overflow: scroll;
}
.spectrum-Panel--custom {
  flex-direction: row;
  min-width: 160px;
  /* min-width: var(--spectrum-global-dimension-2000); */
}
.spectrum-Panel-Item {
  padding: 8px 16px 16px;
}
.spectrum-Panel-Item ~.spectrum-Panel-Item {
  border-top: 2px solid var(--spectrum-panel-border-color);
}
.spectrum-Panel-Item--custom {
  border: 0;
  display: flex;
  flex-direction: row;
  min-width: 140px;
}
#inputs {
  margin-bottom: 1em;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--spectrum-global-dimension-size-400));
  overflow: hidden;
}
#gradientWrapper {
  height: calc(100vh - 8px - var(--spectrum-global-dimension-size-400));
  width: 56px;
  display: block;
  position: relative;
}
#colors {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--spectrum-global-dimension-size-400));
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.block {
  height: 100%;
  width: 100%;
  align-self: stretch;
}
#colorWrapper {
  height: calc(100vh - var(--spectrum-global-dimension-size-800) - 68px);
  width: 60px;
  margin-left: 8px;
  display: flex;
  align-self: flex-end;
  position: relative;
  margin-bottom: 14px;
}
#color {
  height: 60px;
  width: 60px;
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}
// #colorField2,
// #colorField3 {
//   display: none;
// }
#userColor, #userBg {
  height: 56px;
  width: 100%;
  border-radius: 4px;
  border: 0;
  display: flex;
  flex-direction: row;
}
#userColor ~ #userBg {
  margin-top: 8px;
}
#sliderWrapper {
  position: relative;
  display: flex;
  padding: 0px 29px;
  margin-top: -1px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  width: 0px;
  height: calc(100vh - var(--spectrum-global-dimension-size-800) - 7px);
  left: 0;
  bottom: calc(100vh - var(--spectrum-global-dimension-size-800) - 7px);
}
.slider {
  -webkit-appearance: none;
  width: calc(100vh - var(--spectrum-global-dimension-size-800) - 7px);
  height: 55px;
  transform: rotate(-90deg);
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: absolute;
  /* display: block; */
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 32px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 32px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#ratio {
  width: 88px;
}

input[type=color] {
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-collapse: collapse;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  outline: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
input[type=color]:disabled {
  // opacity: 0.4;
  border-color: var(--spectrum-global-color-gray-200);
}
.slider:focus,
input[type=color]:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
}
#demoWrapper {
  padding: 0 48px 56px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: scroll;
}
h1 {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}
#demo,
#demoInverted {
  max-width: 80ch;
  padding: 24px 32px;
  align-self: center;
}

.spectrum-Textfield--readonly {
  padding-left: var(--spectrum-global-dimension-size-400);
  background-color: var(--spectrum-alias-background-color-default);
}

colorOutput-field {
  position: relative;
}

#spectrum-Textfield-swatch {
  position: absolute;
  margin-top: var(--spectrum-global-dimension-size-100);
  margin-left: var(--spectrum-global-dimension-size-100);
  border-radius: 2px;
  height: var(--spectrum-global-dimension-size-200);
  width: var(--spectrum-global-dimension-size-200);
}

.colorField {
  display: flex;
  flex-direction: column;
  min-width: 40px;
}
