
input[type="color"] {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
  outline: none;
  border-radius: 4px;

  &.spectrum-Textfield-swatch {
    margin-top: var(--spectrum-global-dimension-size-100);
    margin-left: var(--spectrum-global-dimension-size-100);
  }
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
input[type="color"]:disabled {
  // opacity: 0.4;
  border-color: var(--spectrum-global-color-gray-200);
}

.slider:focus,
input[type=color]:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
input[type="color"]::-moz-color-swatch {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

// Color Input Classes
.color-Item > input[type="color"]  {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.color-Item > input[type="color"]::-webkit-color-swatch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.color-Item > input[type="color"]::-moz-color-swatch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input[type="color"].colorInput + .spectrum-ActionButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
