/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  --gradient-height-offset: 284px;
  --gradient-height: calc(100vh - var(--gradient-height-offset));
  --colors-height: var(--gradient-height);
  --color-size: 32px;
  --colors-wrapper-height: calc(100vh - var(--gradient-height-offset) - var(--color-size));
  --gradient-slider-height: var(--gradient-height);
  --slider-thumb-size: 8px; // 24px
  --header-height: 58px;
  --spectrum-panel-border-color: var(--spectrum-global-color-gray-300, #e1e1e1);
  --spectrum-panel-background-color: var(--spectrum-global-color-gray-100, #f5f5f5);
  // Define here but override in js after user creates theme
  --theme-background: var(--spectrum-global-color-gray-100, #f5f5f5);

  --toast-offset: -16px;
  --toast-offset-bounce-up: calc(var(--toast-offset) - 5px);
  --toast-offset-bounce-up-light: calc(var(--toast-offset) - 4px);
  --toast-offset-bounce-down: -17px;
  --spectrum-ease-out: cubic-bezier(0, 0, 0.40, 1);
  --spectrum-ease-in-out: cubic-bezier(0.45, 0, 0.40, 1);
  --spectrum-ease-in: cubic-bezier(0.50, 0, 1, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Adobe Clean'; // local update since no typekit support currently.
}

.appFrame {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: var(--header-height) auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "header"
    "default";
}
.appFramePanels {
  margin: 0;
  padding: 0;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  display: grid;
  grid-template-columns: 324px auto 240px;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "leftPanel main rightPanel";
}
.appFramePanelLeft {
  margin: 0;
  padding: 0;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 240px;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "main rightPanel";
}
.spectrum-AppHeader {
  grid-area: header;
  display: flex;
  flex-direction: row;
  max-height: var(--spectrum-global-dimension-size-400); // 32px
  border-bottom: 2px solid var(--spectrum-panel-border-color);
  background-color: var(--spectrum-panel-background-color);
  margin: 0;
  padding: var(--spectrum-global-dimension-size-150) var(--spectrum-global-dimension-size-200);
  align-items: center;
  justify-content: space-between;
}
.spectrum-AppHeader_item {
  display: flex;
  flex-direction: row;
  align-items: center;

  .spectrum-Tabs {
    height: 57px;
    margin-left: 48px;
  }
}
.spectrum-AppHeader-Title {
  margin: 0;
}
#headerLogo {
  height: 24px;
  width: 24px;
}
#logoTitle {
  display: inline-flex;
  text-decoration: none;
}
#headerLogo ~ .spectrum-AppHeader-Title {
    margin-left: 8px;
}
#octo-link {
  margin-left: 16px;
  padding: 4px;
}
/* Tabs aren't inheriting all styles properly. Remapping here */
.spectrum-Tabs {
  border-color: transparent;
  padding: 0;
}
.spectrum-Tabs-item {
  color: var(--spectrum-tabs-text-color, var(--spectrum-alias-label-text-color));

  a.spectrum-Tabs-itemLabel {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}
.spectrum-Tabs-item.is-selected {
  color: var(--spectrum-tabs-text-color-selected, var(--spectrum-alias-heading-text-color));
  border-bottom: 2px solid var(--spectrum-tabs-selection-indicator-color, var(--spectrum-global-color-gray-900));
}
.spectrum-Tabs-selectionIndicator {
  display: none; /* simplifying design to speed up development */
}
.spectrum-Tabs--compact .spectrum-Tabs-item {
  height: 32px;
}

.spectrum-Panel {
  display: flex;
  flex-direction: column;

  background-color: var(--spectrum-panel-background-color);
  min-width: calc(var(--spectrum-global-dimension-size-3000) + 32px);
  border-right: 2px solid var(--spectrum-panel-border-color);
  padding: 0;
  overflow: hidden;
}
.spectrum-Panel--small {
  width: var(--spectrum-global-dimension-size-3000);
  min-width: var(--spectrum-global-dimension-size-3000);
}
.spectrum-Panel--right {
  max-height: calc(100vh - 56px);
  grid-area: rightPanel;
  border-right: 0;
  border-left: 2px solid var(--spectrum-panel-border-color);
  justify-content: space-between;
}
.spectrum-Panel--custom {
  flex-direction: row;
  min-width: 160px;
}
.spectrum-Panel-Item {
  padding: 8px 16px 16px;
}
.spectrum-Panel-Item--overflow {
  overflow: auto;
}
.spectrum-Panel-Item--overflow ~ .spectrum-Panel-Item--overflow {
  max-height: 50%;
}
.spectrum-Panel-Title {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 4px;

  .spectrum-ActionButton {
    margin-top: -7px;
    margin-bottom: 4px;
  }
}
.spectrum-Panel-Title + .spectrum-Panel-Item {
  padding-top: 0px;
}
.spectrum-Panel-Item ~ .spectrum-Panel-Item {
  border-top: 2px solid var(--spectrum-panel-border-color);
}
.spectrum-Panel-Item--row {
  display: flex;
  flex-direction: row;
}
.spectrum-Panel-Item--custom {
  border: 0;
  display: flex;
  flex-direction: row;
  min-width: 140px;
}
.spectrum-Panel-Title ~ #colorOutputs {
  margin-top: 8px;
}

#inputs {
  margin-bottom: 1em;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--spectrum-global-dimension-size-400));
  overflow: hidden;
}
#colorScale-wrapper {
  margin-top: 8px;
  margin-right: 18px;
  height: var(--gradient-height);
  width: 56px;
  display: block;
  position: relative;
}
#colorScale {
  display: flex;
  flex-direction: column;
  height: var(--colors-height);
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, black, white);
  background-repeat: no-repeat;
}
.colorScale-Item {
  height: 100%;
  width: 100%;
  align-self: stretch;
}
#colorWrapper {
  display: none;
  height: var(--colors-wrapper-height);
  width: 48px;
  margin-left: 8px;
  // display: flex;
  align-self: flex-end;
  position: relative;
  // margin-bottom: 14px;
}
#color {
  // height: 60px;
  // width: 60px;
  height: var(--color-size);
  width: var(--color-size);
  font-size: var(--spectrum-global-dimension-font-size-50);
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

#colorSlider-wrapper {
  position: relative;
  display: flex;
  padding: 0px 0px;
  margin-top: -1px;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: var(--gradient-slider-height);
  left: 0;
  bottom: var(--gradient-slider-height);
}
.colorSlider {
  -webkit-appearance: none;
  width: var(--gradient-slider-height);
  height: 55px;
  transform: rotate(-90deg);
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: absolute;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

.colorSlider::-webkit-slider-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  appearance: none;
}
.colorSlider::-moz-range-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.spectrum-Slider {
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* THUMB */
  @mixin thumb {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: var(--spectrum-global-color-gray-100);
    margin: calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / -2) 0 0 calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / -2);
    border-width: var(--spectrum-slider-handle-border-size, var(--spectrum-alias-border-size-thick));
    border-style: solid;
    border-radius: var(--spectrum-slider-handle-border-radius, var(--spectrum-alias-border-radius-medium));
    transition: border-width var(--spectrum-slider-animation-duration, var(--spectrum-global-animation-duration-100)) ease-in-out;
    outline: none;
    cursor: grab;
  }

  @mixin thumbFocus {
    background-color: var(--spectrum-alias-border-color-focus);
    border-color: var(--spectrum-alias-border-color-focus);
    transition: background-color var(--spectrum-slider-animation-duration, var(--spectrum-global-animation-duration-100)) ease-in-out;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  input[type=range]:focus::-webkit-slider-thumb {
    @include thumbFocus;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    @include thumb;
  }

  input[type=range]:focus::-moz-range-thumb {
    @include thumbFocus;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    @include thumb;
  }

  input[type=range]:focus::-ms-thumb {
    @include thumbFocus;
  }

  /* TRACK */
  @mixin track {
    width: 100%;
    height: var(--spectrum-slider-track-height, var(--spectrum-alias-border-size-thick));
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--spectrum-global-color-gray-300);
    top: calc(var(--spectrum-slider-height, var(--spectrum-alias-single-line-height)) / 2);
    margin-top: calc(var(--spectrum-slider-fill-track-height, var(--spectrum-alias-border-size-thick)) / -2);
    pointer-events: none;
    padding: 0 var(--spectrum-slider-handle-gap, var(--spectrum-alias-border-size-thicker)) 0 0;
    margin-left: calc(var(--spectrum-slider-handle-width, var(--spectrum-global-dimension-size-200)) / 2 * -1);
  }

  input[type=range]::-webkit-slider-runnable-track {
    @include track;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--spectrum-alias-border-color-focus);
  }

  input[type=range]::-moz-range-track {
    @include track;
  }

  input[type=range]::-ms-track {
    @include track;

    background: transparent;
    border-color: transparent;
    border-width: 2px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background-color: var(--spectrum-global-color-gray-300);
  }
  input[type=range]:focus::-ms-fill-lower {
    background-color: var(--spectrum-global-color-blue-400);
  }
  input[type=range]::-ms-fill-upper {
    background-color: var(--spectrum-global-color-gray-300);
  }
  input[type=range]:focus::-ms-fill-upper {
    background-color: var(--spectrum-global-color-blue-400);
  }
}

.spectrum-Form,
.spectrum-Form-item {
  position: relative;
}

.spectrum-Form {
  display: flex;
  flex-direction: column;
  margin: 0;

  .spectrum-Slider {
    padding-right: 8px;
  }
}
.spectrum-Form--row {
  flex-direction: row;
  .spectrum-Form-item ~ .spectrum-Form-item {
    margin-left: 16px;
  }
}

.spectrum-Form-item--flex {
  display: flex;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 56px);
  overflow: hidden;
}
#contentTabWrapper {
  display: flex;
  height: 47px;
  min-height: fit-content;
  padding: 0 16px;
  border-bottom: 2px solid var(--spectrum-panel-border-color);

  .spectrum-Tabs {
    margin-bottom: -4px;
  }
}
#demoWrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 56px);
  overflow: auto;
}

#chartsWrapper,
#modelWrapper {
  background-color: var(--spectrum-global-color-gray-100, #f5f5f5);
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  height: 100%;
  padding: 16px;
  overflow: auto;
}

#chartsWrapper {
  flex-direction: row;
}

.charts {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: fit-content;
  margin-bottom: 24px;
  padding: 0;
}
.charts ~ .charts {
  margin-left: 16px;
}

#chart1,
#chart2,
#chart3,
#chart4,
#contrastChart {
  border-radius: 4px;

  svg {
    color: var(--spectrum-global-color-gray-500);
  }
}

.chartGroup {
  .spectrum-Heading6 {
    height: 32px;
    display: flex;
    align-items: flex-end;
  }
}

#chart3dWrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-self: center;
  height: 100%;
  cursor: move;
}

h1 {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}
.demo,
.demoInverted {
  // max-width: 80ch;
  width: 100%;
  padding: 8px 40px 32px;
  align-self: center;
}
.spectrum-Heading1 {
  color: inherit;
}

.spectrum-Textfield--readonly {
  padding-left: var(--spectrum-global-dimension-size-400);
  background-color: var(--spectrum-alias-background-color-default);
}

colorOutput-field {
  position: relative;
  margin-bottom: 16px;
}

#colorOutput {
  height: 74px;
  width: 100%;
  resize: none;
}

#colorOutputs {
  max-height: calc(100vh - var(--header-height) - 258px);
  overflow: auto;
}

.ratio-Swatch {
  position: absolute;
  margin-top: var(--spectrum-global-dimension-size-100);
  margin-left: var(--spectrum-global-dimension-size-100);
  border-radius: 2px;
  height: var(--spectrum-global-dimension-size-200);
  width: var(--spectrum-global-dimension-size-200);
}


.colorField {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 40px;
  margin-bottom: 8px;

  input[type="color"] {
    margin-right: 8px;
  }
  textarea {
    height: 64px;
  }
}

.colorField--horizontal {
  flex-direction: row;

  .spectrum-FieldLabel {
    margin-top: 4px;
    margin-left: 8px;
  }
}

#variableColorField {
  margin-left: 24px;
}

.variableColor-wrapper {
    display: flex;
    flex-direction: row;
}

#keyColor-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2px; /* To ensure focus rings are visible */
  margin: -2px;
  flex-wrap: wrap;
  min-height: 80px;
  max-height: 88px;
  overflow: auto;
}

#bulkColors {
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 16px;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
  border-radius: 4px;
}

#octocat {
  height: 24px;
  width: 24px;
}
.spectrum-Button.demoButton,
.spectrum-Button.demoButtonInverted {
  background-color: transparent;
}

.spacing-100 {
  margin-top: 8px;
}

.keyColor,
.ratio-Item {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  margin-bottom: var(--spectrum-global-dimension-size-100);
  margin-right: var(--spectrum-global-dimension-size-100);
}

.ratio-Field {
  padding-left: var(--spectrum-global-dimension-size-400);
  width: 70%;
  margin-right: 8px;
}
#toggleMetrics {
  margin-top: -8px;
  margin-right: -8px;
}

.colorOutputBlock {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 2px;
  min-height: var(--spectrum-global-dimension-size-400);
  border-radius: 0px;

  &:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.w3c-guideline {
  margin-top: 8px;

  & + .w3c-guideline {
    margin-top: 12px;
    margin-bottom: 4px;
  }
}
.spectrum-Subheading {
  color: var(--spectrum-global-color-gray-700);
}

#functionParams,
#themeFunctionParams {
  background-color: var(--spectrum-global-color-gray-50);
  border: 1px solid var(--spectrum-global-color-gray-200);
  border-radius: 4px;
  padding: 8px;
  margin: 0 -8px;
  width: calc(100% - 4px);
  overflow: auto;
}

#themeFunctionParams {
  max-height: calc(100% - 60px);
  overflow: auto;
  display: flex;
}

#contrastConfigs, #ratioInput-wrapper {
  flex-direction: column;
  width: 100%;
}

#contrastConfigs,
#sequentialConfigs {
  max-height: 100%;
  margin-top: 6px;
  padding: 2px; /* This ensures focus rings are visible */
  overflow: auto;
}
 #sequentialConfigs {
   display: none;
 }

#ratioInput-wrapper {
  max-height: calc(var(--gradient-height) - 110px);
  overflow: auto;
  display: flex;
}

.demoItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: fit-content;

  &:first-of-type {
    margin-top: auto;
  }
  &:last-of-type {
    margin-bottom: auto;
  }
}

#libraryDropdown {
  width: 116px;
}

#modeDropdown {
  width: 120px;

  ~ .spectrum-ActionButton {
    margin-left: 8px;
  }
}

#addRatio,
#addColor {
  justify-content: center;

  > .spectrum-ActionButton-label {
    width: auto;
  }
}
#addRatio {
  margin-top: 8px;
  width: 100%;
}

#colorspaceLabel {
  text-transform: capitalize;
}


#scaleConfigs {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.tabcontent {
  display: none;
}

// Correct some oddities with Dialog buttons
.spectrum-Dialog-footer > *, .spectrum-Dialog-footer > .spectrum-Button + .spectrum-Button {
  margin: 0 0 0 var(--spectrum-buttongroup-button-gap-x, var(--spectrum-global-dimension-static-size-200));
}

#dialogOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#chart3dAlert {
  position: absolute;
  bottom: 16px;
  width: calc(100vw - 624px);
}

.spectrum-Dropdown--quiet {
  min-width: var(--spectrum-dropdown-quiet-min-width, 200px);
}

// Theme styles
#themeWrapper {
  display: grid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-template-columns: auto;
  grid-template-rows: 128px calc(100vh - var(--header-height) - 128px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "themeConfig"
    "themeDefault";

  background-color: var(--spectrum-panel-background-color);
}
.themeConfigWrapper {
  padding: 8px 16px 16px;
  grid-area: themeConfig;
  border-bottom: 2px solid var(--spectrum-panel-border-color);
}
.themeTitle {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;

  .spectrum-Form--row {
    margin-top: -7px;
    margin-bottom: 4px;
  }
  .spectrum-Form-item + .spectrum-ButtonGroup {
    margin-left: 8px;
  }
}
#themeName {
  width: 18ch;
}
.themeConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .spectrum-Form ~ .spectrum-ButtonGroup {
    margin-left: 16px;
    border-left: 1px solid #e1e1e1;
    padding-left: 16px;
  }
}
#themeColorWrapper {
  padding: 16px;
  background-color: var(--theme-background);
  grid-area: themeDefault;
  overflow: auto;
}

.themeColor_item {
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;

  .spectrum-Dropdown {
    width: 120px;
  }
  .spectrum-Dropdown select + .spectrum-Dropdown-iconWrapper {
    position: absolute;
    right: var(--spectrum-dropdown-padding-x, var(--spectrum-global-dimension-size-150));
    top: 4px;
    margin-top: calc(var(--spectrum-icon-chevron-down-medium-height, var(--spectrum-global-dimension-size-75)) / -2);
  }
}
.themeColor_item ~ .themeColor_item {
  margin-top: 16px;
}
.themeColor_gradient {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 100%;
  -webkit-transition: height 200ms;
  transition: height 200ms;

  &.is-large {
    height: 64px;
    -webkit-transition: height 200ms;
    transition: height 200ms;
  }
  &.is-hidden canvas {
    display: none;
  }
}
.themeColor_configs {
  display: flex;
  border-left: 1px solid var(--spectrum-panel-border-color);
  border-right: 1px solid var(--spectrum-panel-border-color);
  border-bottom: 1px solid var(--spectrum-panel-border-color);
  border-top: 0px solid transparent;
  background-color: var(--spectrum-global-color-gray-50);
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px 16px 16px;
  opacity: 1;
  -webkit-transition: height 200ms, padding 200ms;
  transition: height 200ms, padding 200ms;

  &.is-hidden {
    padding: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: height 200ms, padding 200ms;
    transition: height 200ms, padding 200ms;
  }
  .spectrum-Form-item {
    opacity: 1;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;

    &.is-hidden {
      opacity: 0;
      -webkit-transition: opacity 200ms;
      transition: opacity 200ms;
    }
  }
  .spectrum-ButtonGroup {
    justify-content: flex-end;
    flex-grow: 1;
  }
  .labelSpacer {
    padding-top: 16px;
    margin-top: 8px;
  }
  .keyColorActions {
    padding-right: 16px;
    border-right: 2px solid var(--spectrum-global-color-gray-200);

  }
}
.keyColorsWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px; /* To ensure focus rings are visible */
  margin: -2px;
  flex-wrap: wrap;
  min-height: 32px;
  // max-height: 32px;
  min-width: 120px;
  max-width: 216px;
  overflow: auto;
}

.colorNameInput {
  width: 18ch;
}

#themeOutputs {
  display:flex;
  flex-direction: column;
}

.themeOutputColor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 8px;
}

.themeOutputSwatch {
  display: inline-flex;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2px 4px 2px 0;
  cursor: pointer;
  transition: border .25s ease-out, box-shadow .25s ease-out;

  &:focus {
    border-color: var(--spectrum-alias-background-color-default);
    box-shadow: 0 0 0 2px var(--spectrum-alias-border-color-focus);
    outline: none;
  }
  &:active {
    border-color: var(--spectrum-alias-background-color-default);
    box-shadow: 0 0 0 1px var(--spectrum-alias-border-color-focus);
    transition: border .075s ease-out, box-shadow .075s ease-out;
  }
}

#cvdModeDropdown {
  width: 30ch;
}

// Contribution -> Fluid Tabs
.spectrum-Tabs--fluid {
  height: calc(var(--spectrum-global-dimension-size-400) + 2px);
  margin-bottom: -2px;

  .spectrum-Tabs-item {
    height: 100%;

    &.is-selected {
      margin-bottom: -2px;
    }
  }

  .spectrum-Tabs-itemLabel {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

}

// Missing slider CSS for disabled state
.spectrum-Slider-controls:disabled {
  &::-webkit-slider-thumb {
    border-color: var(--spectrum-slider-handle-border-color-disabled, var(--spectrum-global-color-gray-400))
  }
  &::-moz-range-thumb {
    border-color: var(--spectrum-slider-handle-border-color-disabled, var(--spectrum-global-color-gray-400))
  }
  &::-ms-thumb {
    border-color: var(--spectrum-slider-handle-border-color-disabled, var(--spectrum-global-color-gray-400))
  }
}

.spectrum-IllustratedMessage.is-hidden {
  display: none;
}
.gradientColorSwatchWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 32px;
  -webkit-transition: height 200ms;
  transition: height 200ms;

  &.is-large {
    height: 64px;
    -webkit-transition: height 200ms;
    transition: height 200ms;
  }

  &.is-hidden {
    display: none;
  }
}
.gradientColorSwatch {
  height: 100%;
  width: 64px;
  margin-right: 8px;
  display: inline-flex;
  border-radius: 4px;
}

.spectrum-Toast {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  bottom: 0;

  &.is-visible {
    transform: translate(-50%, var(--toast-offset));
  }

  &.hidden {
    display: none;
  }
}

.spectrum-Bounce {
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-name: spectrum-Bounce;
    animation-timing-function: var(--spectrum-ease-in-out);
}
@keyframes spectrum-Bounce {
  0%   { transform: translate(-50%, 50%); opacity: 0;}
  50%  { transform: translate(-50%, var(--toast-offset-bounce-up-light));  opacity: 1;}
  75%  { transform: translate(-50%, var(--toast-offset)); opacity: 1;}
  100% { transform: translate(-50%, var(--toast-offset)); opacity: 1;}
}

.spectrum-Exit {
    animation-duration: 220ms;
    animation-iteration-count: 1;
    animation-name: spectrum-Exit;
    animation-timing-function: var(--spectrum-ease-in-out);
}
@keyframes spectrum-Exit {
    0% { transform: translate(-50%, var(--toast-offset)); opacity: 1;}
    100%   { transform: translate(-50%, 50%); opacity: 0;}
}

#addFromURLinput {
  width: 100%;
}
