/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
/*
// Blues:
// http://localhost:8080/?color=2a77a7&base=ffffff&tint=71b4ca&shade=331f4f&ratios=1.3%2C3%2C4.5&mode=CAM02
// Reds:
// http://localhost:8080/?color=cb1404&base=ffffff&tint=ffbbb9&shade=b10000&ratios=1.3%2C3.5%2C5&mode=LAB
// Grays:
// http://localhost:8080/?color=707080&base=fafafb&tint=cacad0&shade=333351&ratios=1%2C1.25%2C1.94%2C3%2C3.99%2C5.22%2C6.96%2C9.3%2C12.45%2C15&mode=LAB
 */

:root {
  /* Define variables to use in the app. These will have values replaced via Leonardo */
  --blue100: #d4e4e9;
  --blue200: #599ebc;
  --blue300: #337eaa;

  --red100: #ffd8d7;
  --red200: #e35f46;
  --red300: #d2311a;

  --gray50: #ffffff;
  --gray100: #fafafb;
  --gray200: #d1d1d7;
  --gray300: #a9a9b2;
  --gray400: #868593;
  --gray500: #707080;
  --gray700: #5f5e73;
  --gray800: #4c4c64;
  --gray900: #393955;
  --gray1000: #262539;
  --gray1100: #16151e;


  /* Alias global values for contextual use */
  --blueBackground: var(--blue100);
  --blueLargeText: var(--blue200);
  --blueSmallText: var(--blue300);

  --errorBackground: var(--red100);
  --errorLargeText: var(--red200);
  --errorSmallText: var(--red300);

  --backgroundDefault: var(--gray100);
  --largeText: var(--gray400);
  --smallText: var(--gray700);

  --borderColor: var(--gray200);
  --shadowColor: var(gray1100);
  /* --shadow: 2px 2px 2px var(--shadowColor); */
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundDefault);
  color: var(--smallText);
  display: flex;
  flex-direction: column;
}
header {
  color: #000000;
  height: 32px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
header h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.form-Item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
label {
  padding: 0 4px;
}
#controls {
  display: flex;
  flex-direction: row;
}

/* Demo App Styles */
#demoApp {
  padding: 24px 32px;
  max-width: 800px;
  align-self: center;
}

.tabs {
  display: flex;
  width: 100%;
}
.tabs > ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 8px 0;
  padding: 0;
}
.tabs li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  height: 32px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--smallText);
  position: relative;
}
.tabs li:hover,
.tabs li:active {
  color: var(--gray1100);
  background-color: var(--gray200);
}

.tabs li.active {
  color: var(--blueSmallText);
}
.tabs li.active:hover,
.tabs li.active:active {
  color: var(--blueSmallText);
}

li.active::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  bottom: -2px;
  background-color: var(--blueSmallText);
}

h3 {
  color: var(--gray500);
  padding: 0;
  margin: 24px 0 0;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 12px;
  font-weight: 600;
}

h3 ~ h1 {
  margin-top: 0;
}

h1 {
  color: var(--blueLargeText);
}

.well {
  display: flex;
  padding: 16px;
  background-color: var(--gray50);
  border: 1px solid var(--gray200);
  border-radius: 4px;
}

p {
  line-height: 1.5;
}

#demoApp form {
  margin-top: 24px;
}
#demoApp .form-Item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#demoApp label,
#demoApp input {
  font-size: 1em;
}
#demoApp label {
  margin: 12px 0 4px;
}
#demoApp input[type='text'] {
  width: 300px;
  padding: 5px 6px 6px;
  border-radius: 4px;
  border: 1px solid var(--gray200);
  background-color: var(--gray50);
}
#demoApp input[type='text']:active {
  border-color: var(--gray300);
}
#demoApp input[type='text']:focus {
  outline: none;
  border-color: var(--blue200);
  box-shadow: 0 0 0 1px var(--blue200);
}
#demoApp input[type='text']:invalid {
  border-color: var(--red200);
}
#demoApp input[type='text']:invalid:focus {
  border-color: var(--red200);
  box-shadow: 0 0 0 1px var(--red200);
}
