name: CI
on: pull_request
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@v0.6.2
        with:
          auto-install: true
      - run: moon ci 2>&1 | tee moon-ci.log; exit ${PIPESTATUS[0]}
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: moon-ci-log
          path: moon-ci.log
      - uses: 'moonrepo/run-report-action@v1.9.0'
        if: success() || failure()
        continue-on-error: true
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
