name: Release

on:
  push:
    branches:
      - main
      - beta

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@v0.6.2
        with:
          auto-install: true
      - run: moon setup
      - run: moon ci
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Validate publishing prerequisites
        uses: GarthDB/changesets-publish-validator@v1
        with:
          auth-method: oidc
      - name: Publish
        id: changesets
        uses: GarthDB/changesets-action@v1.6.8
        with:
          commit: 'chore: release'
          publish: pnpm release
          oidcAuth: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
